/*body {
    background-image: url('assets/img/q3t128h1w7p51.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: calc(100vh + 283px);
}

.test {
    display: inline-block;
    height: calc(6 * 100vh);
}*/